body.tema {
  min-height: 100vh;
  padding: 20px;
  transition: background-color 0.5s, color 2s;
}

body.tema.light {
  background-color: #ffffff;
  color: #000000;
}

body.tema.dark {
  background-color: #292c35;
  color: #ffffff;
}

body.tema.dark figure {
  background-color: rgb(21, 21, 21);
  border-color: #00196c;
}

body.tema.light figure {
  border-color: #0008ff;
}

body.tema figure:hover {
  background-color: rgb(214, 212, 212);
  color: black;
}

body.tema button {
  padding: 8px 16px;
  margin-bottom: 20px;
  cursor: pointer;
}
